---
import "../styles/global.css";
import GovBanner from "../components/GovBanner.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "MADiE - Measure Authoring Development Integrated Environment",
  description = "MADiE allows users to develop and test measures in an integrated workspace. MADiE supports QI-Core profile informed authoring and testing of FHIR measures.",
} = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a class="sr-only" href="#main-content">Skip to main content</a>
    <GovBanner />
    <Header />
    <main id="main-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>
